@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@200;400&family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 48px;
    letter-spacing: -0.03em;
    color: #0E0605;
}

h3 {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 32px;
    color: #0E0605;
}

h6 {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 24px;
    color: #0E0605;
}

p {
    font-size: 16px !important;
    /* font-weight: 400 !important; */
    line-height: 24px;
    color: #0E0605;
}

.bg_primary {
    background: #13AAA1;
}

.text_primary {
    color: #13AAA1;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 520px;
    }
}

@media only screen and (min-width: 767px) {
    .container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 1320px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Header_ */
.first__1 {
    background-image: url('https://i.ibb.co/stxmhzk/Bg-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.section_4 {
    background-image: url('https://i.ibb.co/YTFws2k/BG-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.op {
    opacity: .5;
}

.cursive {
    font-family: cursive;
}

.section_8 {
    background-image: url('https://i.ibb.co/ZmWtWYM/BG-2.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    background-image: url('https://i.ibb.co/LdbTKRy/Group-1000001372.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.important {
    font-size: 20px !important;
}

.counter_border {
    border-top: 1px solid rgba(255, 255, 255, 0.349);
    border-bottom: 1px solid rgba(255, 255, 255, 0.349);
}

.section__4 {
    background-image: url('https://i.ibb.co/CKkgwk0/Bg-3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.section-8 {
    background-image: url('https://i.ibb.co/f44RRsV/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.section-9 {
    background-image: url('https://i.ibb.co/RCYHJ7G/BG-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.over__10_bg {
    width: 400px;
    height: 400px;
    background: rgba(232, 189, 254, 0.2);
}

.shadowc {
    box-shadow: 0px 0px 36px -22px;
}

.home3_expert_singlecard {
    background: linear-gradient(180deg, rgba(214, 167, 235, 0.15) 0%, #D6A7EB 100%);
    transition: all .5s;
    transform-origin: left;
    transform: scaleX(0);
}

.home3_expert_card:hover>.home3_expert_singlecard {
    transform: scaleX(1);
}

.home3_icon {
    padding: 15px;
    border-radius: 50%;
    color: #fff;
}

.home3_icon:hover {
    background: #13AAA1;
}

.home3_sponsored {
    box-shadow: 4px 30px 60px rgba(31, 33, 72, 0.1);
}

.home3_bg {
    background-image: url('https://i.ibb.co/r5GFZB2/Bg-4.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.home3_footer {
    background-image: url('https://i.ibb.co/4ZxNNVg/BG-7.png');
    background-size: cover;
    background-repeat: no-repeat;
}